@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// body{
//     height: 100%;
//     width: 100%;
// }

body {
    padding-top: 0.5px;
    background: #F5EFE6;
    padding-bottom: 90px;
}   

.title i {
    color: #444444;
    font-size: 35px;
}


.container {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
    background: rgb(242, 242, 242);
    margin-left: 67px;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid grey;
}
// this is the style for pie chart

canvas {
    max-width: 100%; /* Ensure the chart fits within the container */
    max-height: 100%;
  }
// end style for the pie chart
hr {
    margin-top: 30px;
}

// filter

.list{
    float: right;
    color: #C5C5C5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
}


// dropdown
.filter {
    border: none;
    appearance: none;
    width: 100%;
    color: black;
    background-color: #31A463;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.table-filters {
    display: inline;
    align-items: center;
    gap: 10px;
    margin-left: -10px;
    margin-top: 30px;
    border: black;
    border-radius: 10px;
    margin-bottom: -40px;
    font-family: 'Montserrat', sans-serif;
}

.patron {
    display: inline;
    align-items: center;
    gap: 10px;
    margin-left: -10px;
    margin-top: 30px;
    border: black;
    border-radius: 10px;
    margin-bottom: -40px;
    font-family: 'Montserrat', sans-serif;
}

.gender {
    display: inline;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-top: 30px;
    border: black;
    border-radius: 10px;
    margin-bottom: -40px;
    font-family: 'Montserrat', sans-serif;
}
.from{
    display: inline;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-top: 30px;
    border: black;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: -40px;
    font-family: 'Montserrat', sans-serif;
}
.to{
    display: inline;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-top: 30px;
    border: black;
    padding-left: 20px;
    border-radius: 10px;
    margin-bottom: -40px;
    font-family: 'Montserrat', sans-serif;
}
input[type=date]{
    border-radius: 10px;
    border-width: 1.5px;
    padding: 8px;
    margin-left: 5px;
    appearance: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.table-filters, .patron, .gender  a {
    color: black;
    font-size: 16px;
    padding: 12px;
    font-weight: 500;
    margin-right: 1em;
    display: inline-block;
    
}

.table-filters a:hover {
    text-decoration: none;
}

.table-filters select {
    background: var(--primary-color);
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    height: 2.5em;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.patron select {
    background: var(--primary-color);
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    height: 2.5em;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.gender select {
    background: var(--primary-color);
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    height: 2.5em;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


// content

.title {
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

i{
    color: white;
}

.search {
    // display: inline-block;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-bottom: -20px;
    margin-top: -50px;
  }

.search input[type="text"] {
    width: 260px;
    padding: 10px;
    border: none;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
    background-color: #31A463;
    border: none;
    border-style: groove;
    color: #fff;
    border-color: #31A463;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
}

.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #31A463;
}
  

.content-table {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    font-size: 14px;  
    background-color: #E1E1E1;
    font-family: 'Montserrat', sans-serif;
    table-layout: fixed ;
    
}

.table-head {
    background-color: #31A463;
    font-size: 15px;
    border: 0;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.edit {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #31A463;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    color: white;
    position: relative;
    margin-left: 1px;
}

.delete {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #BE2E2E;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}

.returned {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #FFA500;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}

th {
    letter-spacing: 1px;
    color: white;
    border-bottom: 2px solid black;
}






// /* Modal part renze */
// .modal {
//     display: none; 
//     position: fixed;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;
//     background-color: rgba(0,0,0,0.4);
// }

// .modal-content {
//     background-color: #fefefe;
//     margin: 15% auto;
//     padding: 20px;
//     border: 1px solid #888;
//     width: 80%;
//     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
// }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.line {
    width: 700px;
}

.row{
    align-items: center;
    justify-content: center;
}

// Style for Print Button
.download-text1{
    color: #4F6F52;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
.parent-container {
    position: relative; /* Maaaring kailanganin ito depende sa ibang styles ng mga elements */
  }
  .menu-container {
    position: absolute;
    bottom: -8px;
    right: 0px;
    display: flex;
    align-items: center;
    z-index: 1000; /* Siguruhing mataas ang z-index para hindi matakpan ng ibang elements */
    
  }
  .menu-button {
    border-radius: 3px;
    width: 130px;
    height: 39px;
    font-size: 15px;
    font-weight: 600;
    background-color:#4F6F52;
    color: white;
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
   
   }
   
//    .hamburger-menu-container {
//     position: relative;
//     top: 80px;
//     right: 0;
//   }



  // -------------------Charts----------------------

  .chartsBx {
    position: relative;
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Adjusted grid layout */
    grid-gap: 20px;
    justify-content: center; /* Horizontally center the charts */
    align-items: center; /* Vertically center the charts */
  }
  
  .chart {
    position: relative;
    // background: #fff;
    // box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    // border-radius: 20px;
    // border: .5px solid rgb(49, 164, 99);
    padding: 24px;
    overflow-x: auto;
    // border-left: 4px solid #31A463;
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%; /* Set width to occupy full space in the grid */
    height: 500px; /* Set a specific height for both charts */
  }
  
  .chart-canvas {
    /* Remove max-width to allow the canvas to expand */
    max-width: 100%;
    height: 100%; /* Allow the canvas to adjust its height */
  }

//   .filter-container {
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     padding: 10px;
//     background-color: #f9f9f9;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//     display: inline-block;
//   }

  .filter-options {
    display: inline-block;
    font-size: 16px;
  }
  
  .filter-group {
    margin-right: 20px;
    display: inline-block;
  }
  
  label {
    font-weight: bold;
    color: #444444;
    margin-right: 5px;
  }
  
  select,
  input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }
  
  /* Styling for select dropdown arrow */
  select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 20px;
    padding-right: 25px;
  }