body{
    height: 100%;
    width: 100%;
}

body {
    padding-top: 10px;
    background: #F5EFE6;
    padding-bottom: 26%;
}   
.container {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    background: rgb(242, 242, 242);
    margin-left: 28px;
    width: 95%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid grey;
}

// content

.search {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 85px;
  margin-bottom: -20px;
  margin-top: -43px;
  width: 200px;

}

.search input[type="text"] {
  font-family: 'Montserrat';
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  width: 260px;
  padding: 12px 16px;
  height: 3em;
  border: none;
  border-radius: 7px;
  border: 1px solid var(--table-border);
}

input:focus{
  outline: none;
}

.search button[type="submit"] {
  background-color: #4F6F52;
  border: none;
  color: #fff;
  border-color: #4F6F52;
  cursor: pointer;
  padding: 6.5px 6px;
  border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -42px;
  font-size: 25px;
  right: -225px;
  transition: .9s ease;
}

// .search button[type="submit"]:hover {
//     transform: scale(1.1);
//     color: rgb(255, 255, 255);
//     background-color: #4F6F52;
//     font-size: 15px;
// }

.title {
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
}

  

.content-table {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: 14px;  
    background-color: #E1E1E1;
    font-family: 'Montserrat', sans-serif;
    table-layout: fixed ;
    border-collapse: collapse;
    
}

.table-head {
    background-color: #4F6F52;
    font-size: 15px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

// new table

table {
    border-radius: 5px;
    border: 1px solid grey;
    background: rgb(242, 242, 242);
  }
  
  table,
  th,
  td {
      font-family: 'Montserrat';
      font-size: 14px;
      padding: 10px;
      text-align: center;
      border-bottom: 1.5px solid grey;
      justify-content: center;
      transition: all 0.3s ease-in;

      width: 30px;
  }
  
  
  th {
    background-color: #4F6F52 !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    justify-content: center;
    height: 60px;
  }

  .tbl-head {
    justify-content: center;
    border-bottom: 2px solid grey;
  }

  .page {
    background: rgb(242, 242, 242);
  }

.edit {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #808080;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    color: white;
    position: relative;
    margin-left: 10px;
}

.delete {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #BE2E2E;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    color: white;
    margin-left: 10px;
}

.returned {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #4F6F52;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    color: white;
    margin-left: 1px;
}

th {
    letter-spacing: 1px;
    color: white;
    border-bottom: 2px solid black;
}


.red {
    color: red;
}



/* Modal part renze */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// style for filter
.filter-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 35px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  
//   .filter-header {
//     font-size: 18px;
//     font-weight: bold;
//     color: #444444;
//     margin-bottom: 10px;
//   }
  
  .filter-options {
    display: inline-block;
  }
  
  .filter-group {
    margin-right: 20px;
    display: inline-block;
  }
  
  label {
    font-weight: bold;
    color: #444444;
    margin-right: 5px;
  }
  
  select,
  input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }
  
  /* Styling for select dropdown arrow */
  select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 20px;
    padding-right: 25px;
  }

  .loading {
    margin-top: 250px;
    margin-bottom: 250px;
  }

