<body>

<div class="container">

  <p class="title">Borrow List</p>
   <!-- Search bar -->
  <div class="search">
    <input placeholder="Search..." type="text" [(ngModel)]="searchTerm">
    <button type="submit" (click)="applySearch()"><i class="bx bx-search" ></i></button>
  </div>

    <!-- filter -->

    <!-- <div class="filter-container">
      <div class="filter-options">
        <div class="filter-group">
          <label for="department">Department:</label>
          <select id="department" [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()">
            <option value="">All Departments</option>
            <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
          </select>
        </div>
        <div class="filter-group" *ngIf="selectedDepartment">
          <label for="secondFilter">Program:</label>
          <select id="secondFilter" [(ngModel)]="selectedProgram">
            <option value="">All Options</option>
            <option *ngFor="let option of secondFilterOptions[selectedDepartment]" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="filter-group">
          <label for="patronType">Patron Type:</label>
          <select id="patronType" [(ngModel)]="selectedPatronType">
            <option value="">All Patron Types</option>
            <option value="Admin">Admin</option>
            <option value="Faculty">Faculty</option>
            <option value="Student">Student</option>
            <option value="Staff">Staff</option>
            <option value="Visitor">Visitor</option>
          </select>
        </div>
      </div>
    </div> -->

  <table class="content-table">
    <thead class="table-head">
      <tr>
        <th >Patron Type</th>
        <th >Id Number</th>
        <th >Name</th>
        <th >Department</th>
        <th >Program</th>
        <th >Accession Number</th>
        <th >Status</th>
        <th >Fine</th>
        <th >Action</th>
      
      </tr>
    </thead>
    <tbody>
      <!-- *ngFor="let material of borrowMaterials"  -->
      <tr *ngFor="let material of borrowMaterials">
        <td>{{material.user.patron.patron}}</td>
        <td>{{material.user.id}}</td>
        <td>{{material.user.first_name}} {{material.user.last_name}}</td>
        <td>{{material.user.program.department.department}}</td>
        <td>{{material.user.program.program}}</td>
        <td>{{material.book_id}}</td>
        <td>{{material.status}}</td>
        <td>{{material.fine}}</td>
        <td>
          <button class="returned" (click)="pushDialog(material)">
            <i class="bx bx-check" ></i>
          </button>
          <button class="delete" (click)="deleteDialog()">
            <i class="bx bx-archive" ></i>
          </button>
          <button class="edit" (click)="openDialog(material)">
            <i class="bx bxs-edit" ></i>
          </button>
          </td>
        </tr>

        
    </tbody>
  </table>
  <div class="page">
    <mat-paginator [length]="totalLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="[3, 10, 25, 100]"
               (page)="handlePageEvent($event)">
</mat-paginator>

  </div>
</div>
</body>

