<body>


    <div class="search">
        <input placeholder="Search..." type="text">
        <button type="submit"><i class="bx bx-search" ></i></button>
    </div>

  <p class="title">Borrow List</p>
  <table class="content-table">
    <thead class="table-head">
      <tr>
        <th>Patron Type</th>
        <th>Id Number</th>
        <th>Department</th>
        <th>Accession Number</th>
        <th>Category</th>
        <th>Request</th>
        <th>Action</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Student</td>
        <td>202110876</td>
        <td>CCS</td>
        <td>4001</td>
        <td>LOC</td>
        <td>1/3</td>
        <td>
          <button class="edit" (click)="openDialog()">Edit</button>
          <button class="delete">
            <i class="bx bx-trash" ></i>
            </button>
        </td>
        

    </tbody>
  </table>
</body>

