<body>

<div class="container">

  <p class="title">Borrow List</p>

    <!-- filter -->

    <div class="filter">

      <div class="table-filters">
        <select id="filter">
            <option selected value="All Departments"> All Departments </option>
            <option> CCS </option>
            <option> CBA </option>
            <option> CAHS </option>
            <option> CEAS </option>
            <option> CHTM </option>
        </select>
      </div>

      <div class="table-filters2">
        <select id="filter">
            <option selected value="Patron"> All Program </option>
            <option> Program sample </option>
            
        </select>
      </div>

      <div class="table-filters3">
        <select id="filter">
            <option selected value="Patron"> All Patron </option>
            <option> Admin </option>
            <option> Faculty </option>
            <option> Student </option>
            <option> Staff </option>
            <option> Visitor </option>
        </select>
      </div>

      <div class="table-filters4">
        <select id="filter">
            <option selected value="Patron"> All Status </option>
            <option> Pending </option>
            <option> Overdue </option>
        </select>
      </div>

    <div class="search">
        <input placeholder="Search..." type="text">
        <button type="submit"><i class="bx bx-search" ></i></button>
    </div>

    </div>


  <table class="content-table">
    <thead class="table-head">
      <tr>
        <th>Patron Type</th>
        <th>Id Number</th>
        <th>Name</th>
        <th>Department</th>
        <th>Program</th>
        <th>Accession Number</th>
        <th>Status</th>
        <th>Fine</th>
        <th>Action</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- studentname -->
        <td>Student</td>
        <!-- student ID -->
        <td>202110876</td>
        <!-- user name -->
        <td>John Laurenze G Leguidleguid</td>
        <!-- department id -->
        <td>CCS</td>
        <!-- accession id -->
        <td>BSIT</td>
        <!-- book location -->
        <td>4001</td>
        <!-- status -->
        <td>Pending</td>
        <td>--</td>
        <td>
          <button class="returned" (click)="pushDialog()">
            <i class="bx bx-check" ></i>
          </button>
          <button class="delete" (click)="deleteDialog()">
            <i class="bx bx-archive" ></i>
          </button>
          
          <button class="edit" (click)="openDialog()">
            <i class="bx bxs-edit" ></i>
          </button>
          </td>
        </tr>

        <!-- for sample -->
        <tr>
          <!-- studentname -->
          <td>Janitor</td>
          <!-- student ID -->
          <td>202111102</td>
          <!-- user name -->
          <td>Don Ace Ranada</td>
          <!-- department id -->
          <td>CCS</td>
          <!-- accession id -->
          <td>BSIT</td>
          <!-- book location -->
          <td>4002</td>
          <!-- status -->
          <td class="red">Overdue</td>
          <td class="red">100.00</td>
          <td>
            <button class="returned" (click)="pushDialog()">
              <i class="bx bx-check" ></i>
            </button>
            <button class="delete" (click)="deleteDialog()">
              <i class="bx bx-archive" ></i>
            </button>
            <button class="edit" (click)="openDialog()">
              <i class="bx bxs-edit" ></i>
            </button>
            </td>
          </tr>
    </tbody>
  </table>
  <div class="page">
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>

  </div>
</div>
</body>

