<div class="backdrop" (click)="close()"></div>
<form [formGroup]="form" (submit)="submit()" class="modal">
  <h3>Change Password</h3>

  <div class="input-container">
    <mat-form-field>
      <mat-label>Current Password</mat-label>
      <input
        matInput
        [type]="showPassword.old ? 'text' : 'password'"
        placeholder="Aa"
        formControlName="old_password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="showPassword.old = !showPassword.old"
      >
        <mat-icon>{{
          showPassword.old ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="showPassword.new ? 'text' : 'password'"
        placeholder="Aa"
        formControlName="new_password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="showPassword.new = !showPassword.new"
      >
        <mat-icon>{{
          showPassword.new ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="showPassword.confirm ? 'text' : 'password'"
        placeholder="Aa"
        formControlName="new_password_confirmation"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="showPassword.confirm = !showPassword.confirm"
      >
        <mat-icon>{{
          showPassword.confirm ? "visibility" : "visibility_off"
        }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

 <p class="invalid-note">{{ showInvalidNote() }}</p>
  <div class="btn-row">
    <button class="btn cancel" type="button" (click)="close()">Cancel</button>
    <button
      type="submit"
      class="btn"
      [ngClass]="{
        validSubmit: form.valid || !isDiffPassword(),
        invalidSubmit: form.invalid || isDiffPassword(),
      }"
      [disabled]="form.invalid || isDiffPassword()"
    >
      Submit
    </button>
  </div>
</form>
<!-- </div> -->
