<div class="body">

    <div class="header">
        <p class="title">Borrowing Policy</p>
    </div>
 
    <div class="content">
        <h1>Borrowing</h1>
            <p>1.1. Borrowing Policy:</p> 
            <p>During holidays and Sundays, no new borrow requests will be processed, and library services, including borrowing and reservations, will not be available. Normal borrowing services will resume on the next operational day following the holiday or Sunday.</p>
            <p>1.2. Late Return Fine:</p>
            <p>A fine will be imposed if a borrowed book is not returned on schedule. The amount of the fine is determined by the library administration and is subject to change.</p>
            <p>1.3. Exemption from Fines:</p>
            <p>If a student has a valid reason for returning a book late, no fine will be imposed. Valid reasons must be communicated to and approved by the library administration.</p>
        <h1>Reservation</h1>
            <p>2.1 Failure to pick up an approved book:</p>
            <p>Students who fail to pick up a book for which the request has already been approved will have their request automatically voided and will be penalized.</p>
            <p>2.2. Single Reservation:</p>
            <p>Students cannot reserve the same book multiple times consecutively. Once a book is returned, it must be available to others before the same student can reserve it again.</p>
            <p>2.3. Queueing System: If a book is reserved by multiple students, a queueing system will be implemented. Students will be notified based on their position in the queue once the book becomes available.</p>
            <p>2.4 Repeated Offenses:</p>
            <p>Students who repeatedly fail to pick up books more than three times within a short period will face a minimum one-week ban, with increasing penalties for continued non-compliance.</p>
            <p>2.5. Pick-up Time Limit:</p>
            <p>Students must pick up their approved reserved books by 5:00 PM on the designated pick-up day. Failure to do so will result in the reservation being automatically voided, and the student may be penalized according to the library's policies on failure to pick up approved books (see section 2.1).</p>
        <h1>Administration Rights</h1>
            <p>3.1. Policy Changes:</p>
            <p>The library administration reserves the right to change the fine amounts and modify the terms and conditions of the reservation policy at any time. Students will be notified of any changes through official communication channels.</p>
    </div>
    
    <div class="footer">
        <a class="cancel" mat-dialog-close>Close</a>
    </div>
    
    </div>

