/* MAIN PADDING FOR RESPONSIVE */
main {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
  /* END OF MAIN PADDING */
  
  // HEAD CONTENT //
  .head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .title {
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    // text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-top: 15px;
}
  
  .head h1 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
  }

  .container {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    background: rgb(242, 242, 242);
    margin-left: 67px;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid grey;
}
  



  // DATE FILTER
  .input-row {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 5px;
  }
  
  .input-row .txt_field {
    flex-basis: 100%;
  }
  
  .input-row .txt_field {
    position: relative;
    margin: 0.1rem 0;
  }
  
  .txt_field {
  font-size: 0.75rem;
  font-weight: 400;
  display: block;
  margin-bottom: 0.2rem;
    height: 2.5rem;
  color: black;
  border: 1px solid #BFBFBF;
    background-color: #FFFFFF;
  padding: 0rem 0.75rem;
  border-radius: 5px;
    display: flex;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  label {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -0px;
    width: 80px;
    height: 2.5rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: default;
    background-color: #4F6F52;
    border: none;
    transition: background-color 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    font-family: 'Montserrat';
    border: none;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    line-height: 1.5rem;
    padding-left: 75px;
    font-size: 1rem;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
  }
  
  input:focus {
    outline: none;
  }
  
  /*
  .table-content {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background: #FFFFFF;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid  #BFBFBF;
  }
  */
  
  .table-content {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  // TABLE STYLE CONTENT //
  table {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0.5px solid  #BFBFBF;
    background-color:  #E1E1E1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  table,
  th,
  td {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1.5px solid  #BFBFBF;
  }
  
  th {
    background-color: #4F6F52 !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
  }
  
  table tr {
    transition: all 0.3s ease;
  }
  
  table tr:hover {
    background-color: #E9E9E9;
  }
  
  table td:nth-child(1) {
    width: 150px;
    max-width: 200px;
  }
  
  table td:nth-child(2) {
    width: 100px;
    max-width: 150px;
  }
  
  table td:nth-child(3) {
    min-width: 200px;
    max-width: 300px;
  }
  
  table td:nth-child(4) {
    text-align: left;
    min-width: 300px;
  }
  
  table td:nth-child(5) {
    min-width: 150px;
  }
  
  mat-paginator {
    background-color:  #E1E1E1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    border: 0.5px solid  #BFBFBF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  // END OF TABLE STYLE CONTENT //