<body>

<main>
    <div class="content">
        <div class="head">
            <h1> Activity Log </h1>

            <form>
            <div class="input-row">
                <!-- <div class="txt_field">
                    <input class="inputtxt" type="date" id="" name="" required>                              
                    <span></span>
                    <div class="datelabel"> From: </div>
                </div>
                <div class="txt_field">
                    <input class="inputtxt" type="date" id="" name="" required>                              
                    <span></span>
                    <div class="datelabel"> To: </div>
                </div> -->
                <div class="txt_field">
                    <label for="datepicker"> From: </label>
                        <input type="date" id="datepicker-start" autocomplete="off">
                </div>
                <div class="txt_field">
                    <label for="datepicker"> To: </label>
                        <input type="date" id="datepicker-end" autocomplete="off">
                </div>
            </div>
            </form>
        </div>

        <div class="table-content">              
            <div class="mat-elevation-z8">
                <table mat-table >
            
                <!-- Date Column -->
                <ng-container matColumnDef="create_date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{ element.create_date | date: 'mediumDate' }} </td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="logtime">
                    <th mat-header-cell *matHeaderCellDef> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.create_date | date: 'shortTime'}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.user.first_name }} {{ element.user.last_name}} </td>
                </ng-container>
            
                <!-- Log Column -->
                <ng-container matColumnDef="log">
                    <th mat-header-cell *matHeaderCellDef> Log </th>
                    <td mat-cell *matCellDef="let element"> {{element.log}} </td>
                </ng-container>
            
                <!-- Action Column -->
                <ng-container matColumnDef="action" class="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>
        

                <tr mat-header-row></tr>
                <tr mat-row ></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>   
            
            
        </div>
        
    </div>
</main>

</body>