
<main>

<div class="container">

  <p class="title">Reservation List</p>
   <!-- Search bar -->
   <div class="search">
    <input placeholder="Search..." name="search" id="search" type="text" (input)="applyFilter($event)">
    <button type="submit" (click)="applyFilter($event)"><i class="bx bx-search"></i></button>

  </div>

    <div class="content">
    <div class="tabbed">
        <input type="radio" id="tab1" name="css-tabs" checked="checked">
		    <input type="radio" id="tab2" name="css-tabs" checked="checked">

    <ul class="tabs">
			<li class="tab"><label for="tab1">Walk-in</label></li>
			<li class="tab"><label for="tab2">Online</label></li>
		</ul>

        <!-- Walk-In -->
        <div class="tab-content">
            <div class="table">

               
                <!-- <h1>Walk-in</h1> -->

                <div class="card">
                    <section class="material-table">
                        <table class="content-table">
                            <thead class="table-head">
                              <tr>
                                <th>Mode of Reservation</th>
                                <th>Borrower Name</th>
                                <th>Book Title</th>
                                <th>Department</th>
                                <th>Queue Position</th>
                                <th>Action</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let material of filteredreservationList">
                                <!-- student name -->
                                <td>{{material.user.patron.patron}}</td>
                                <!-- Borrower -->
                                <td>{{material.user.first_name}} {{material.user.last_name}}</td>
                                <!-- student id -->
                                <td>{{material.book.title}}</td>
                                <!-- department id -->
                                <td>{{material.user.program.department.department}}</td>
                                <!-- position -->
                                <td>{{material.queue_position}}</td>
                             

              

                                <td>
                                  <button class="returned" (click)="push(material)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog(material)">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit">
                                      <i class="bx bxs-edit" (click)="openDialog(material)"></i>
                                    </button>

                                </td>
                            </tbody>
                          </table>
                    </section>
                </div>           
            </div>  
        </div>

        <!-- Online  -->
        <div class="tab-content">

            <div class="table">
                
                <div class="card">
                    <section class="material-table">
                        <table class="content-table">
                            <thead class="table-head">
                              <tr>
                                <th>Mode of Reservation</th>
                                <th>Borrower</th>
                                <th>Id Number</th>
                                <th>Department</th>
                                <th>Book Title</th>
                                <th>Category</th>
                                <th>Queue Position</th>
                                <th>Action</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <tr  *ngFor="let online of filteredonlineList">
                                  <!-- student name -->
                                  <td>{{online.user.patron.patron}}</td>

                                  <td>{{online.user.first_name}} {{online.user.last_name}}</td>
                                  <!-- student id -->
                                  <td>{{online.user_id}}</td>
                                  <!-- department id -->
                                  <td>{{online.user.program.department.department}}</td>
                                  <!-- accession id -->
                                  <td>{{online.book.title}}</td>
                                  <!-- category -->
                                  <td>{{online.user.program.category}}</td>
                                  <td>{{material.queue_position}}</td>
                                  
                                <td>
                                    <button class="returned" (click)="push(online)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog(material)">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit">
                                      <i class="bx bxs-edit" (click)="openDialog(material)"></i>
                                    </button>
                                </td>
                                
                        
                            </tbody>
                          </table>
                    </section>
                </div>           
            </div>  
        </div>



        </div>
  
    </div>
    <div class="page">
      <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
  
</main>