main {
    background: #F5EFE6;
}   
.tab-link-icon2 i{
  font-size: 33px;
  margin-left: 15px;
  color:#444444;
}
.search {
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 85px;
    margin-bottom: -20px;
    margin-top: -43px;
    width: 200px;
  
  }
  
  .search input[type="text"] {
    font-family: 'Montserrat';
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    width: 260px;
    padding: 12px 16px;
    height: 3em;
    border: none;
    border-radius: 7px;
    border: 1px solid var(--table-border);
  }

  input:focus{
    outline: none;
  }
  
  .search button[type="submit"] {
    background-color: #4F6F52;
    border: none;
    color: #fff;
    border-color: #4F6F52;
    cursor: pointer;
    padding: 6.5px 6px;
    border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -42px;
    font-size: 25px;
    right: -225px;
    transition: .9s ease;
  }

// .search button[type="submit"]:hover {
//     transform: scale(1.1);
//     color: rgb(255, 255, 255);
//     background-color: #4F6F52;
//     font-size: 15px;
// }

.title {
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
    left: -5%;
}

// container

.container {
    border-radius: 5px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    background: rgb(242, 242, 242);
    margin-left: 28px;
    width: 95%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid grey;
}

// // filter


// // dropdown
// .filter {
//     // display: flex;
//     // align-items: center;
//     // justify-content: space-between;
//     // margin-bottom: 10px;
//     margin-top: 10px;
//     margin-left: 25px;
// }

// .table-filters {
//     display: inline;
//     align-items: center;
//     gap: 10px;
//     margin-left: -10px;
//     margin-top: 30px;
//     border: black;
//     border-radius: 10px;
//     margin-bottom: -40px;
//     font-family: 'Montserrat', sans-serif;
    
// }

// .table-filters2 {
//     display: inline;
//     align-items: center;
//     gap: 10px;
//     margin-left: -20px;
//     margin-top: 30px;
//     border: black;
//     border-radius: 10px;
//     margin-bottom: -40px;
//     font-family: 'Montserrat', sans-serif;
// }

// .table-filters3 {
//     display: inline;
//     align-items: center;
//     gap: 10px;
//     margin-left: 10px;
//     margin-top: 30px;
//     border: black;
//     border-radius: 10px;
//     margin-bottom: -40px;
//     font-family: 'Montserrat', sans-serif;
// }

// .table-filters, .table-filters2 a {
//     color: black;
//     font-size: 16px;
//     padding: 12px 16px;
//     font-weight: 500;
//     margin-right: 1em;
//     display: inline-block;
    
// }

// .table-filters3 a {
//     color: black;
//     font-size: 16px;
//     padding: 12px 16px;
//     font-weight: 500;
//     margin-right: 1em;
//     display: inline-block;
    
// }

// .table-filters a:hover {
//     text-decoration: none;
// }

// .table-filters select {
//     background: #fff;
//     font-family: 'Montserrat';
//     padding: 5px;
//     font-size: 14px;
//     font-weight: 500;
//     width: 200px;
//     height: 2.5em;
//     // border: 1px solid black;
//     border-radius: 10px;
//     font-family: 'Montserrat', sans-serif;
//     border-style: groove;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// }

// .table-filters2 select {
//     background: #fff;
//     font-family: 'Montserrat';
//     padding: 5px;
//     font-size: 14px;
//     font-weight: 500;
//     width: 200px;
//     height: 2.5em;
//     // border: 1px solid black;
//     border-radius: 10px;
//     font-family: 'Montserrat', sans-serif;
//     border-style: groove;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// }

// .table-filters3 select {
//     background: #fff;
//     font-family: 'Montserrat';
//     padding: 5px;
//     font-size: 14px;
//     font-weight: 500;
//     width: 200px;
//     height: 2.5em;
//     // border: 1px solid black;
//     border-radius: 10px;
//     font-family: 'Montserrat', sans-serif;
//     border-style: groove;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
// }



// .table-filters option {
//     padding: 30px;
//     margin: 30px;
// }


// tab part
.tabbed {
	overflow-x: hidden; 
	padding-bottom: 10px;
    
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    max-width: 100%;
    padding-left: 10px;
}
.tab {
    width: 100%; /* Adjust width as needed */
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    // width: 1440px;
}

.content {
    margin-top: 22px; 
    padding: 20px; 
    // background-color: #E1E1E1; 
}
.tab {
    flex: 1; /* Adjust tab width */
}

.tab > label {
    color: black;
	display: block;
    font-size: 30px; 
    font-weight: bold;
    line-height: 30px;
    padding: 10px 10px;
    text-align: center;
	background: var(--primary-color);
	font-weight: bold;
	cursor: pointer;	
	transition: all 0.3s;
    border-bottom: 3px solid black;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.tab:hover label {
	color: #4F6F52;
    border-bottom: 3px solid #4F6F52;
}

.tab-content {
	display: none;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label {
	color: white;
    border-bottom: 3px solid #4F6F52;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4F6F52;
}

.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1) {
	display: block;
}


// .table {
//     border-radius: 2px;
//     padding: 20px;
//     padding-top: 25px;
//     padding-bottom: 25px;
//     background: var(--secondary-color);
//     width: 100%;
//     height: auto;
//     margin-bottom: 30px;
//     box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
//     border: 0.5px solid var(--border-color);
// }

h1 {
    float: right;
    color: #C5C5C5;
    font-family: 'Montserrat', sans-serif;
    margin-right: -80px;
}

.content-table {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: 14px;  
    background-color: #E1E1E1;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-head {
    background-color: #4F6F52;
    font-size: 15px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

// new table

table {
    border-radius: 5px;
    border: 1px solid grey;
    background: rgb(242, 242, 242);
  }
  
  table,
  th,
  td {
      font-family: 'Montserrat';
      font-size: 14px;
      padding: 10px;
      text-align: center;
      border-bottom: 1.5px solid grey;
      justify-content: center;
      transition: all 0.3s ease-in;
  }
  
  
  th {
    background-color: #4F6F52 !important;
    color: white;
    font-weight: 600;
    letter-spacing: 0.8px;
    justify-content: center;
    height: 60px;
  }

  .tbl-head {
    justify-content: center;
    border-bottom: 2px solid grey;
  }

  .page {
    background: rgb(242, 242, 242);
  }

.edit {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #808080;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    color: white;
    position: relative;
    margin-left: 10px;
    font-size: 15px;
    padding-top: 2px;
}

.delete {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #BE2E2E;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    height: 30px;
    margin-left: 10px;
    font-size: 15px;
    padding-top: 2px;
}

.returned {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #4F6F52;
    border-style: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    height: 30px;
    margin-left: 1px;
    font-size: 15px;
    padding-top: 2px;
}


th {
    letter-spacing: 1px;
    color: white;
    border-bottom: 2px solid black;
}

// style for filter
.filter-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 35px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  
//   .filter-header {
//     font-size: 18px;
//     font-weight: bold;
//     color: #444444;
//     margin-bottom: 10px;
//   }
  
  .filter-options {
    display: inline-block;
  }
  
  .filter-group {
    margin-right: 20px;
    display: inline-block;
  }
  
  label {
    font-weight: bold;
    color: #444444;
    margin-right: 5px;
  }
  
  select,
  input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }
  
  /* Styling for select dropdown arrow */
  select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 20px;
    padding-right: 25px;
  }

  // .loading {
  //   margin-top: 250px;
  //   margin-bottom: 150px;
  // }