
<main>

<div class="container">

  <p class="title">Reservation List</p>
   <!-- Search bar -->
   <div class="search">
    <input placeholder="Search..." name="search" id="search" type="text" (input)="applyFilter($event)">
    <button type="submit" (click)="applyFilter($event)"><i class="bx bx-search"></i></button>

  </div>

    <div class="content">
    <div class="tabbed">
        <input type="radio" id="tab1" name="css-tabs" checked="checked">
		    <!-- <input type="radio" id="tab2" name="css-tabs" checked="checked"> -->

    <ul class="tabs">
			<li class="tab"><label for="tab1">Approval of Reservation</label></li>
			<!-- <li class="tab"><label for="tab2">Online</label></li> -->
		</ul>

        <!-- Walk-In -->
        <div class="tab-content">
            <div class="table">

               
                <!-- <h1>Walk-in</h1> -->

                <div class="card">
                    <section class="material-table">
                        <!-- <table class="content-table">
                            <thead class="table-head">
                              <tr>
                                <th>Mode of Reservation</th>
                                <th>Borrower Name</th>
                                <th>Book Title</th>
                                <th>Department</th>
                                <th>Queue Position</th>
                                <th>Action</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let material of filteredreservationList">
                               
                                <td>{{material.user.patron.patron}}</td>
                              
                                <td>{{material.user.first_name}} {{material.user.last_name}}</td>
                           
                                <td>{{material.book.title}}</td>
                               
                                <td>{{material.user.program.department.department}}</td>
                                
                                <td>{{material.queue_position}}</td>
                            
                                <td>
                                  <button class="returned" (click)="push(material)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog(material)">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit">
                                      <i class="bx bxs-edit" (click)="openDialog(material)"></i>
                                    </button>

                                </td>
                            </tbody>
                          </table> -->

                          <!-- new table -->
                          <div class="table">
                            <table mat-table [dataSource]="dataSource">
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="mode">
                                <th mat-header-cell *matHeaderCellDef class="tbl-head"> Mode of Reservation</th>
                                <td mat-cell *matCellDef="let element "> {{element.user.id}} </td>
                              </ng-container>
                          
                              <!-- Gender Column -->
                              <ng-container matColumnDef="borrowerName">
                                <th mat-header-cell *matHeaderCellDef class="tbl-head"> Borrower Name </th>
                                <td mat-cell *matCellDef="let element "> {{ element.user.first_name }} {{ element.user.last_name }} </td>
                              </ng-container>
                          
                              <!-- Email Column -->
                              <ng-container matColumnDef="BookTitle">
                                <th mat-header-cell *matHeaderCellDef class="tbl-head"> Book Title </th>
                                <td mat-cell *matCellDef="let element "> {{element.book.title}} </td>
                              </ng-container>
                          
                              <!-- Department Column -->
                              <ng-container matColumnDef="Department">
                                <th mat-header-cell *matHeaderCellDef class="tbl-head"> Department </th>
                                <td mat-cell *matCellDef="let element "> {{element.user.program.department.department}} </td>
                              </ng-container>
                        
                              <!-- Program Column -->
                              <ng-container matColumnDef="Queue">
                                <th mat-header-cell *matHeaderCellDef class="tbl-head"> Queue Position </th>
                                <td mat-cell *matCellDef="let element "> {{element.queue_position}} </td>
                              </ng-container>
                        
                              <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef class="tbl-head"> Actions </th>
                                <td mat-cell *matCellDef="let element">
                                  <button class="returned" (click)="push(material)">
                                    <i class="bx bx-check" ></i>
                                  </button>
                                  <button class="delete" (click)="deleteDialog(material)">
                                    <i class="bx bx-archive" ></i>
                                  </button>
                                  <button class="edit">
                                    <i class="bx bxs-edit" (click)="openDialog(material)"></i>
                                  </button>

                                </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                          
                            <mat-paginator class="page" [pageSizeOptions]="[10, 20]"
                                           showFirstLastButtons
                                           aria-label="Select page of users">
                            </mat-paginator>
                          </div>


                    </section>
                </div>           
            </div>  
        </div>

        <!-- Online  -->
        <!-- <div class="tab-content">

            <div class="table">
                
                <div class="card">
                    <section class="material-table">
                        <table class="content-table">
                            <thead class="table-head">
                              <tr>
                                <th>Mode of Reservation</th>
                                <th>Borrower</th>
                                <th>Id Number</th>
                                <th>Department</th>
                                <th>Book Title</th>
                                <th>Category</th>
                                <th>Queue Position</th>
                                <th>Action</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <tr  *ngFor="let online of filteredonlineList">
                                
                                  <td>{{online.user.patron.patron}}</td>

                                  <td>{{online.user.first_name}} {{online.user.last_name}}</td>
                                 
                                  <td>{{online.user_id}}</td>
                                 
                                  <td>{{online.user.program.department.department}}</td>
                               
                                  <td>{{online.book.title}}</td>
                              
                                  <td>{{online.user.program.category}}</td>

                                  <td>{{online.queue_position}}</td>
                                  
                                <td>
                                    <button class="returned" (click)="push(online)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog(material)">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit">
                                      <i class="bx bxs-edit" (click)="openDialog(material)"></i>
                                    </button>
                                </td>
                                
                        
                            </tbody>
                          </table>
                    </section>
                </div>           
            </div>  
        </div> -->



        </div>
  
    </div>
  </div>
  
</main>