
<main>

<div class="container">

  <p class="title">Reservation List</p>
   <!-- Search bar -->
   <div class="search">
    <input placeholder="Search..." type="text">
    <button type="submit"><i class="bx bx-search" ></i></button>
  </div>
  
  <!-- filter -->

  <!-- <div class="filter-container">
    <div class="filter-options">
      <div class="filter-group">
        <label for="department">Department:</label>
        <select id="department" [(ngModel)]="selectedDepartment" (change)="onDepartmentChange()">
          <option value="">All Departments</option>
          <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
        </select>
      </div>
      <div class="filter-group" *ngIf="selectedDepartment">
        <label for="secondFilter">Program:</label>
        <select id="secondFilter" [(ngModel)]="selectedProgram">
          <option value="">All Options</option>
          <option *ngFor="let option of secondFilterOptions[selectedDepartment]" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="filter-group">
        <label for="patronType">Patron Type:</label>
        <select id="patronType" [(ngModel)]="selectedPatronType">
          <option value="">All Patron Types</option>
          <option value="Admin">Admin</option>
          <option value="Faculty">Faculty</option>
          <option value="Student">Student</option>
          <option value="Staff">Staff</option>
          <option value="Visitor">Visitor</option>
        </select>
      </div>
      <div class="filter-group">
        <label for="allType">All Type:</label>
        <select id="allType" [(ngModel)]="selectedAllType">
          <option value="">All Types</option>
          <option value="Pick-up">Pick-up</option>
          <option value="Queue">Queue</option>
        </select>
      </div>
    </div>
  </div> -->


    <div class="content">
    <div class="tabbed">
        <input type="radio" id="tab1" name="css-tabs" checked="checked">
		    <input type="radio" id="tab2" name="css-tabs" checked="checked">

    <ul class="tabs">
			<li class="tab"><label for="tab1">Walk-in</label></li>
			<li class="tab"><label for="tab2">Online</label></li>
		</ul>

        <!-- Walk-In -->
        <div class="tab-content">
            <div class="table">

               
                <!-- <h1>Walk-in</h1> -->

                <div class="card">
                    <section class="material-table">
                        <table class="content-table">
                            <thead class="table-head">
                              <tr>
                                <th>Patron Type</th>
                                <th>Id Number</th>
                                <th>Department</th>
                                <th>Accession Number</th>
                                <th>Category</th>
                                <th>Request</th>
                                <th>Action</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let material of reservationList">
                                <!-- student name -->
                                <td>{{material.user.role}}</td>
                                <!-- student id -->
                                <td>{{material.user_id}}</td>
                                <!-- department id -->
                                <td>{{material.user.program.program}}</td>
                                <!-- accession id -->
                                <td>{{material.book_id}}</td>
                                <!-- category -->
                                <td>{{material.user.program.category}}</td>
                                

                                <!-- Queue or Pickup -->
                                <td>1</td>
                                <td>
                                  <button class="returned" (click)="push(material)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog()">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit">
                                      <i class="bx bxs-edit" (click)="openDialog()"></i>
                                    </button>

                                    <!-- <button class="returned" (click)="pushDialog(material.id)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog()">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit" (click)="openDialog(material.id)">
                                      <i class="bx bxs-edit" ></i>
                                    </button> -->
                                </td>
                                
                        
                            </tbody>
                          </table>
                    </section>
                </div>           
            </div>  
        </div>

        <!-- Online  -->
        <div class="tab-content">

          

            <div class="table">

                <!-- <div class="search">
                    <input placeholder="Search..." type="text">
                    <button type="submit"><i class="bx bx-search" ></i></button>
                </div> -->

                <!-- <h1>Online</h1> -->
                
                <div class="card">
                    <section class="material-table">
                        <table class="content-table">
                            <thead class="table-head">
                              <tr>
                                <th>Patron Type</th>
                                <th>Id Number</th>
                                <th>Department</th>
                                <th>Accession Number</th>
                                <th>Category</th>
                                <th>Request</th>
                                <th>Action</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <tr  *ngFor="let material of onlineList">
                                  <!-- student name -->
                                  <td>{{material.user.role}}</td>
                                  <!-- student id -->
                                  <td>{{material.user_id}}</td>
                                  <!-- department id -->
                                  <td>{{material.user.program.department}}</td>
                                  <!-- accession id -->
                                  <td>{{material.book_id}}</td>
                                  <!-- category -->
                                  <td>{{material.user.program.category}}</td>

                                  <td>1</td>
                                  
                                <td>
                                    <button class="returned" (click)="push(material.id)">
                                      <i class="bx bx-check" ></i>
                                    </button>
                                    <button class="delete" (click)="deleteDialog()">
                                      <i class="bx bx-archive" ></i>
                                    </button>
                                    <button class="edit">
                                      <i class="bx bxs-edit" (click)="openDialog()"></i>
                                    </button>
                                </td>
                                
                        
                            </tbody>
                          </table>
                    </section>
                </div>           
            </div>  
        </div>



        </div>
  
    </div>
    <div class="page">
      <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
  
</main>