<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>

  
  <div class="container">

    <p class="title">Users</p>

      <div class="search">
        <input placeholder="Search..." type="text">
        <button type="submit"><i class="bx bx-search" ></i></button>
      </div>

    <!-- <p class="list">User List</p> -->

      <!-- filter -->
  
      <div class="filters">
  
        <div class="table-filters">
          <select class="filter "id="filter">
              <option selected value="Department"> Department </option>
              <option> CCS </option>
              <option> CBA </option>
              <option> CAHS </option>
              <option> CEAS </option>
              <option> CHTM </option>
          </select>
        </div>
  
        <div class="program">
          <select class="filter" id="filter" onchange="filterCourses()">
              <option selected value="Program"> Program </option>
              <option> BSCS </option>
              <option> BSIT </option>
              <option> BSEMC </option>
              <option> ACT </option>
              <option> BSA </option>
              <option> BSCA </option>
              <option> BSBA-FM</option>
              <option> BSBA-HRM </option>
              <option> BSBA-MKT</option>
              <option> BSN </option>
              <option> GM </option>
              <option> BSHM </option>
              <option> BSTM </option>
              <option> BEEd </option>
              <option> BSEd-E </option>
              <option> BSEd-FIL </option>
              <option> BSEd-M </option>
              <option> BSEd-SCI </option>
              <option> BSEd-SOC </option>
              <option> BPEd  </option>
              <option> BCAEd </option>
              <option> BACOM  </option>
              <option> TCP  </option>
          </select>
        </div>

        <div class="patron">
            <select class="filter" id="filter">
                <option selected value="Patron Type"> Patron Type </option>
                <option> Admin </option>
                <option> Faculty </option>
                <option> Student </option>
                <option> Staff </option>
                <option> Visitor </option>
            </select>
          </div>
  
      </div>

      <hr>

      <!-- table -->
    <table class="content-table">
      <thead class="table-head">
        <tr>
          <th>Name</th>
          <th>Patron Type</th>
          <th>Gender</th>
          <th>Id Number</th>
          <th>Department</th>
          <th>Program</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ace</td>
          <td>Student</td>
          <td>Male</td>
          <td>202111304</td>
          <td>CCS</td>
          <td>BSIT</td>

          <td>
            <button class="edit" (click)="openUser()">
              <i class="bx bxs-edit" ></i>
            </button>
            <button class="delete" >
              <i class="bx bx-archive" ></i>
            </button>
            
            </td>
          </tr>
  
  
          

      </tbody>
    </table>
    <div class="page">
      <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
      </mat-paginator>
  </div>
  </div>
  </body>
  
  