@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    transition: all 0.5s ease;
    font-family: "Poppins";
}

/* HEADER */
.header h1 {
    position: fixed;
    // background-color: var(--primary-color);
    height: 70px;
    width: 100%;
    border-bottom: 2px solid #C5C5C5;
    // margin-left: 230px;
    padding-top: 40px;
    padding-left: 250px;
    padding-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color:white ;
    z-index: 1;
    left: 30px;
    background-color: #31A463;
}

/* SIDEBAR CONTENTS */
.logo img {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.systemname h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: -10px;
}

.systemname h2 {
    text-align: center;
    font-size: 14px;
    opacity: 80%;
    font-weight: lighter;
    text-transform: uppercase;
    padding-top: 5px;
    margin-bottom: -20px;
    
}

.logo-title {
    padding-bottom: 10%;
    border-bottom: 1px solid var(--border-color);
}


.sidebar-content {
    position: relative;
    background-color: white;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 15px;
    z-index: 100;
    border-right: 2px solid #C5C5C5;
    transition: all 0.3s ease;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    // top , right, bottomn left
    padding: 0px 10px 0px 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.sub-item {
    padding: 5px;
    text-decoration: none;
}



.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-content a {
    color: var(--black);
}

.sidebar-content-tabs {
    position: relative;
}

.admin-tabs {
    padding: 0;
    list-style: none;
}

.admin-tab a {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 5px;
    border-bottom: 1px solid var(--border-color);
}

.admin-tab a:hover {
    color: #31A463;
}

.admin-tab a.active-link {
    font-weight: 300;
    color: #31A463;
}

.tab-link .tab-link-name {
    padding-left: 10px;
    padding-top: 2px;
}

.tab-link-name {
    padding-left: 40px;
    font-weight: 700;
}

.admin-tabs .tab-link-icon {
    font-size: 20px;
}

ul ul {
    list-style: none;
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    color: #333; 
    font-size: 16px;
    margin-left: 180px;
    margin-top: -25px;
    transform: translateY(-9px);
}

.gc-library {
    flex-grow: 1;
    cursor: pointer;
}



.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.active {
    transform: rotate(-90deg);
}

.dropbtn span {
    margin-left: 5px;
}

.dropdown-content.ng-tns-c15-0 {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    transition: background-color 0.3s; 
}

/* Change color of links on hover */
.dropdown-content a:hover {
    background-color: #f2f2f2; 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Align icon to the right */
.dropdown i {
    margin-left: auto; 
}

/* Active Link */
.active-link {
    // background-color:; /* Active link background color */
    color: #31A463; /* Active link text color */
}

.logoutbtn .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
}

.logoutbtn .logout:hover {
    color: #31A463;
}

.logoutbtn {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 220px;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
    .sidebar-content {
        width: 70px;
    }
    .sidebar-content:hover {
        width: 220px;
        z-index: 200;
    }
    .sidebar-content:hover li a span:last-child {
        display: inline;
    }

    .logo-title {
        display: none;
    }

    .tab-link-name {
        display: none;
    }

    .logoutbtn {
        bottom: 20px;
        width: 50px;
    }
    
}

@media screen and (min-width: 768px) {
    .body-content {
        padding-left: 20px;
        padding-top: 70px;
    }
}

.body-content {
    padding-left: 240px;
    padding-top: 90px;
}