<div class="body">

  <div class="header">
    <p class="title">Borrow Reserve</p>
  </div>
      

      <div class="form">
        
        <p class="user">Users</p>
        <div class="users">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="user-label">Id Number</label>
                </div>
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="user-label">Name</label>
                </div>
            </div>

            <div class="group2">
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="user-label">Patron Type</label>
                </div>
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="user-label">Department</label>
                </div>
            </div>
        </div>

        <p class="material">Material</p>
        <div class="materials">
              <div class="group1">
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Accession Number</label>
                  </div>
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Title</label>
                  </div>
              </div>

              <div class="group2">
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Location</label>
                  </div>
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Author</label>
                  </div>
              </div>
          </div>
      </div>

      <p class="staff">Staff</p>
        <div class="staffs">
          <div class="group1">
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input" >
                <label class="user-label">Name of Staff</label>
              </div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input" >
                <label class="user-label">Position</label>
              </div>
          </div>
        </div>

        <p class="due">Due</p>
        <div class="date">
          <div class="group1">
            <script>
              var today = new Date().toISOString().split('T')[0];
                  document.getElementsByName("date")[0].setAttribute('min', today);
            </script>
              <div class="input-group">
                <input required="" type="date" name="date" autocomplete="off" class="input" min="2024-04-18" >
                <label class="userlabel2">Date of Request</label>
              </div>
          </div>
          <div class="input-group">
            <input required="" type="date" name="date" autocomplete="off" class="input" min="2024-04-18">
            <label class="userlabel">Due</label>
          </div>
        </div>

          <!-- <div class="reason">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="time" name="text" autocomplete="off" class="input" >
                  <textarea class="input-reason" name="text" id="" cols="30" rows="10" placeholder=""></textarea>
                  <label class="userlabel">Reason</label>
                </div>
            </div>
          </div> -->

          <div class="time">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="time" name="text" autocomplete="off" class="input2" >
                  <label class="userlabel">Time</label>
                </div>

                <div class="input-group">
                  <input required="" type="number" id="NumOfMat" name="NumOfMat" min="1" max="3" autocomplete="off" class="input2" >
                  <label class="userlabel2" for="NumOfMat">Num of Materials</label>
                  <label for="NumOfMat" class="max">/3</label>
                </div>
            </div>
          </div>

          <div class="gender">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input2" placeholder="fillable">
                  <label class="userlabel">Gender</label>
                </div>
            </div>
          </div>

          <div class="fine">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="number" name="text" autocomplete="off" class="input2" placeholder="fillable">
                  <label class="userlabel">User Fine</label>
                </div>
            </div>
          </div>

          <div class="buttons">
            <a class="reserve" routerLink="">Reserve</a>
            <!-- <a class="reserve">Returned</a> -->
            <a class="close" matDialogClose>Close</a>
            <!-- <button class="reserve" (click)="openDialog()">Reserve</button> -->
            <!-- <a class="list" routerLink="/sample">List</a> -->

          </div>
</div>
