<div class="body">

  <div class="container">
    
    <p class="title">Reservation Form</p>

    <div class="form">

      <!-- books -->
      <p class="book">Book</p>
      <div class="books">
          <div class="group1">

            <!-- for Accession Number -->
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input" > 
                <label class="book-label">Accession Number</label>
              </div>

            <!-- The rest dito autofill na kaya nakadisabled -->

            <!-- Title -->
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input" disabled >
                <label class="book-label">Title</label>
              </div>
            
            <!-- Number of materials -->
              <div class="input-group">
                <input required="" type="number" id="NumOfMat" name="NumOfMat" min="1" max="3" autocomplete="off" class="input2" disabled>
                <label class="booklabel" for="NumOfMat">Number of Materials</label>
                <label for="NumOfMat" class="max">/3</label>
              </div>
          </div>
          
          <div class="group2">

            <!-- Location (fil or foreign) -->
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input2" disabled >
                <label class="book-label">Location</label>
              </div>

            <!-- Author of the book -->
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input4" disabled>
                <label class="book-label">Author</label>
              </div>
          </div>
      </div>

      <p class="material">User</p>
      <div class="materials">
            <div class="group1">

              <!-- user ID number -->
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="book-label">Id Number</label>
                </div>

              <!-- Name -->
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" disabled>
                  <label class="book-label">Name</label>
                </div>

              <!-- Gender -->
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input2" disabled>
                  <label class="book-label">Gender</label>
                </div>
              </div>

            <div class="group2">
              
              <!-- patron type (student/faculty/staff/.etc) -->
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input3" disabled>
                    <label class="book-label">Patron</label>
                  </div>

              <!-- Department id -->
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input3" disabled>
                    <label class="book-label">Department</label>
                  </div>
            </div>
        </div>
    

        <p class="staff">Staff</p>
          <div class="staffs">
            <div class="group1">

              <!-- frontdesk admin id -->
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input3" >
                  <label class="book-label">Name of Staff</label>
                </div>

              <!-- frontdesk position -->
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input3" disabled>
                  <label class="book-label">Position</label>
                </div>
            </div>
          </div>

    <p class="due">Due</p>
    <div class="date">
      <div class="group1">
        <script>
          var today = new Date().toISOString().split('T')[0];
              document.getElementsByName("date")[0].setAttribute('min', today);
        </script>

          <div class="input-group">
            <input required="" type="date" name="date" autocomplete="off" class="input" min="2024-01-01" >
            <label class="booklabel">Date of Request</label>
          </div>

          <div class="input-group">
            <input required="" type="date" name="date" autocomplete="off" class="input" min="2024-01-01">
            <label class="booklabel">Due for Reservation</label>
          </div>
          <div class="input-group">
            <input required="" type="text" name="text" autocomplete="off" class="input2" disabled>
            <label class="book-label">User Fine</label>
          </div>
      </div>
    </div>

    <div class="buttons">
      <a class="add" (click)="addAlert()">Add</a>
      <a class="reserve" (click)="queAlert()">Queue</a>
      <!-- <button class="reserve" (click)="openDialog()">Reserve</button> -->
      <!-- <a class="list" routerLink="/sample">List</a> -->

  </div>


</div>
</div>