<div class="body">

    
    <p class="title">
      Reservation Form
      <span class="icon">
        <i class='bx bx-book'></i>
      </span>
    
    </p>

    <div class="container">
    <div class="form">

      <p class="book">Books</p>

      <form class="test" [formGroup]="requestForm" id="request-form" (ngSubmit)="reserveSubmit()">
      <!-- books -->
      
          <div class="books">
            
              <div class="group1">
                <!-- for Accession Number -->
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" required name="book_id" (change)="getBook($event)" formControlName="book_id"> 
                    <label class="book-label">Accession</label>
                  </div>

                <!-- The rest dito autofill na kaya naka -->

                <!-- Title -->
                  <div class="input-group">
                    <input type="text" name="text" autocomplete="off" class="input" [value]="book.title || ''" disabled>
                    <label class="book-label">Book Title</label>
                  </div>

                  <div class="input-group">
                    <input type="text" name="text" autocomplete="off" class="input2" [value]=" 'N/A' " disabled>
                    <label class="book-label">Books Allowed</label>
                  </div>
                
              </div>
              
              <div class="group1">

                <!-- Location (fil or foreign) -->
                  <div class="input-group">
                    <input type="text" name="text" autocomplete="off" class="input" [value]="book.location || ''"   disabled>
                    <label class="book-label">Location</label>
                  </div>

                <!-- Author of the book -->
                  <div class="input-group">
                    <input type="text" name="text" autocomplete="off" class="input" [value]="book.author || ''"   disabled>
                    <label class="book-label">Author</label>
                  </div>
              </div>
          </div>
  
          <p class="material">User</p>
          <div class="materials">
                <div class="group1">

                  <!-- user ID number -->
                    <div class="input-group">
                      <input required="" type="text" name="text" autocomplete="off" class="input" required formControlName="user_id" (change)="getUser($event)">
                      <label class="book-label">Id Number</label>
                    </div>

                  <!-- Name -->
                    <div class="input-group">
                      <input type="text" name="text" autocomplete="off" class="input" [value]="user.name || ''"  disabled>
                      <label class="book-label">Name</label>
                    </div>

                  <!-- Gender -->
                    <div class="input-group">
                      <input type="text" name="text" autocomplete="off" class="input2" [value]=" user.gender == '1' ? 'Male' : user.gender == '0' ? 'Female' : 'N/A' " disabled>
                      <label class="book-label">Gender</label>
                    </div>
                  </div>

                <div class="group1">
                  
                  <!-- patron type (student/faculty/staff/.etc) -->
                  <!-- <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input3" [value]=" " >
                    <label class="book-label">Patron</label>
                  </div> -->
                  
                  <div class="input-group">
                      <!-- <select name="text" (change)="changePatron($event)" class="input31">
                          <option *ngFor="let patron of patrons" [value]="patron.id">{{ patron.patron }}</option>
                      </select>
                      <label class="patron-label">Patron</label> -->
                      <input type="text" name="text" autocomplete="off" class="input" disabled [value]="user.patron.patron || ''">
                          <label class="book-label">Patron</label>
                  </div>

                
                  <!-- Department id -->
                      <div class="input-group">
                        <input type="text" name="text" autocomplete="off" class="input" [value]="user.program.department_short || ''" disabled>
                        <label class="book-label">Department</label>
                      </div>
                </div>
            </div>
        

            <p class="staff">Staff</p>
              <div class="staffs">
                <div class="group1">

                  <!-- frontdesk admin id -->
                    <div class="input-group">
                      <input type="text" name="text" autocomplete="off" class="input" disabled placeholder="{{name}}">
                      <label class="book-label">Name of Staff</label>
                    </div>

                  <!-- frontdesk position -->
                    <div class="input-group">
                      <input type="text" name="text" autocomplete="off" class="input" disabled placeholder="{{role}}">
                      <label class="book-label">Position</label>
                    </div>
                </div>
              </div>

        <p class="due">Due</p>
        <div class="date">
          <div class="group1">  
            <script>
              var today = new Date().toISOString().split('T')[0];
              var today = new Date().toISOString().slice(0, 16);

                 
                  document.getElementsByName("date")[0].setAttribute('min', today);
                  
                document.getElementsByName("datetime")[0].setAttribute('min', today);
      
            </script>

              <div class="input-group">
                <input required type="datetime-local" name="date" autocomplete="off" class="input" [min]="currentDate"  required formControlName="start_date" [(ngModel)]="currentDate" >
                <label class="booklabel">Date of Request</label>
              </div>

              <div class="input-group">
                <input required="" id="dueforborrow" type="datetime-local" name="datetime" autocomplete="off" class="input" [min]="currentDate" required formControlName="end_date" >
                <label class="booklabel">Due for Borrow</label>
              </div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input2"  required formControlName="fine" [value]="user.patron.fine" >
                <label class="book-label">User Fine</label>
              </div>
          </div>
        </div>

        <div class="parent-container">

          <label class="policy"> 
            <input type="checkbox" [checked]="checkbox" (change)="logCheckboxState($event)">
            <span class="checkmark"></span>
          </label>

          <span class="policytext" (click)="policyDialog()">I Accept the Terms and Conditions </span>

          <span class="info" (click)="policyDialog()">
            <i class='bx bx-info-circle'></i>
          </span>

         </div>

        <div class="buttons">
          <!-- <button class="add" type="submit" [disabled]="!requestForm.get('isChecked')?.value">Add</button> -->
          <!-- <button class="reserve" type="button" (click)="queueSubmit()">Queue</button> -->
          <button class="add" type="submit">Add</button>
        </div>
      </form>


</div>
</div>