@import url('https://fonts.googleapis.com/css2?family=montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    padding-top: 30px;
}


.title {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 43px;
    margin-left: 35px;
    // padding-top: -19px;
}

.header{ 
    background-color: #4F6F52;
    padding-top: 35px;
    padding-bottom: 20px;
    // border-bottom: 2.5px solid black;
}

// input[type=date]:invalid::-webkit-datetime-edit {
//     color: #999;
// }



.users {
    margin: 30px;
    position: absolute;
    margin-top: 2%;
    margin-left: 50px;
}

.materials {
    margin: 30px;
    position: absolute;
    margin-top: 19%;
    margin-left: 50px;
}

.staffs {
    margin: 30px;
    position: absolute;
    margin-top: 36.5%;
    margin-left: 50px;
}

.date {
    margin: 30px;
    position: absolute;
    margin-top: 36.5%;
    margin-left: 50px;
}

.group1, .group2 , .group3{
    display: flex;
}

.max {
    position: relative;
    margin-left: -60px;
}

.user {
    margin-top: 20px;
    // padding-top: 45px;
    padding-left: 40px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #C5C5C5;
    font-size: 30px;
    margin-left: 20px;
}

.material {
    margin-top: 173px;
    // padding-top: 10%;
    padding-left: 40px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #C5C5C5;
    font-size: 30px;
    position: absolute;
    margin-left: 20px;
}

.staff {
    margin-top: 354px;
    // padding-top: 20%;
    padding-left: 40px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #C5C5C5;
    font-size: 30px;
    position: absolute;
    margin-left: 20px;
}

.due {
    margin-top: 354px;
    // padding-top: 20%;
    padding-left: 40px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #C5C5C5;
    font-size: 30px;
    position: absolute;
    margin-left: 20px;
}

.reason {
    margin-top: 14px;
    padding-left: 45%;
    border-radius: 30px;
}

.time {
    margin-top: 224px;
    padding-left: 64.4%;
    border-radius: 30px;
}

.gender {
    margin-top: -2px;
    padding-left: 64.4%;
    border-radius: 30px;
}

.fine {
    margin-top: 53px;
    padding-left: 64.4%;
    border-radius: 20px;
}

.buttons {
    margin-top: 58%;
    float: right;
    margin-right: 50px;
}

.save {
    background-color: #4F6F52;
    margin-right: 10px;
    justify-content: center;
    position: relative;
    padding: .1rem;
    width: 50%;
    border: none;
    border-radius: 10px;
    font-family: 'montserrat',sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 22px;
    top: -20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.close {
    background-color: #BE2E2E;
    margin-right: 10px;
    justify-content: center;
    position: relative;
    padding: .1rem;
    width: 50%;
    border: none;
    border-radius: 10px;
    font-family: 'montserrat',sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 22px;
    top: -20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.add:hover{
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color:  #FFA500;
    cursor: pointer;
    text-decoration: none;
}

.save:hover{
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color:#4F6F52;
    cursor: pointer;
    text-decoration: none;
}

.close:hover {
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.input-group {
    position: relative;
    padding-top: -45px;
}
   
.input {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 1.5px black;
    border-radius: 1px;
    background: #f1f1f1;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 330px;
}

.input1 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 1.5px black;
    border-radius: 1px;
    background: #f1f1f1;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 422px;
}


.input2 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 1.5px black;
    border-radius: 1px;
    background: #f1f1f1;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 130px;
}

.input3 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 1.5px black;
    border-radius: 1px;
    background: #f1f1f1;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 713px;
}

.input-reason {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 1.5px black;
    // border-radius: 10px;
    background: #C5C5C5;
    padding: 2rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 500px;
    height: 63px;
}

.user-label {
    position: absolute;
    top: -8px;
    left: 20px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'montserrat', sans-serif;
}

// .input:focus, input:valid, .input2:focus, .input2:valid{
//     outline: none;
//     border-bottom: 1.5px solid #31A463;
// }

// .input:focus ~ label, input:valid ~ label, .input2:focus ~ label, .input2:valid ~ label{
//     transform: translateY(-50%) scale(0.8);
//     background-color: white;
//     border: solid 1.5px #31A463;
//     border-radius: 5px;
//     padding: 0 .2em;
//     color: black;
//     font-size: 15px;
//     font-weight: 600;
//     left: 15px;
// }

.userlabel {
    position: absolute;
    top: -8px;
    left: 20px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'montserrat', sans-serif;
}

.userlabel2 {
    position: absolute;
    top: -8px;
    left: 20px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'montserrat', sans-serif;
}

.booklabel2 {
    position: absolute;
    top: -8px;
    left: 20px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'montserrat', sans-serif;
}

::placeholder {
    color: black;
}