<!-- hi renze!! -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Circulation</title>
</head>
<body>

  <img class="background" src="assets/img/building.png" alt="background">

<div class="split-screen">

  <div class="left">
    <section class="content">
      <img class="vector" src="assets/img/vector.png" alt="vector" class="vector">
      <div class="circle-1"></div>
      <div class="circle-2"></div> 
    </section>
  </div>

  <div class="right">
    <form action="">
      <section class="appname">
        <img class="right-logo" src="assets/img/logo.png" alt="">
        <h1>Gordon College <br> Library Management System</h1>
        <p class="circu">Circulation</p>
      </section>

      <section class="">
        <div class="form-user">
          <label for="user">
            <input type="email" name="" id="" class="input" placeholder="Email">
            <div class="icon"> 
              <i class='bx bxs-user'></i> 
            </div>
          </label>
        </div>

        <div class="form-pass">
          <label for="pass">
            <input type="password" name="" id="" class="input" placeholder="Password">
            <div class="icon2"> 
              <i class='bx bxs-lock-alt'></i> 
            </div>
          </label>
        </div>

        <div class="loginbtn">
          <!-- <a class="loginbtn" type="submit">Login</a> -->
          <a class="login-btn" routerLink="/main">LOGIN</a>
          <p class="version">GCLIMS v0.1</p>
        </div>
    
      </section>
    </form>

  </div>
</div>
</body>
</html>