@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow: hidden;
}

.split-screen {
    min-height: 100vh;
    display: flex;
}

.left, .right {
    width: 50vw;
}

.vector {
    position: absolute;
    top: -90px;
    left: 60px;
    z-index: 1;
    width: 1000px;
    height: 1000px;
}

.circle-1 {
    height: 0%;
    width: 0%;
    border: 450px solid #7CC644;
    border-radius: 5000px;
    position: absolute;
    top: -300px;
    left: -20px;
    display: flex;
    justify-content: center;
}
.circle-2 {
    height: 0%;
    width: 0%;
    border: 450px solid #31A463;
    border-radius: 5000px;
    position: absolute;
    top: -250px;
    left: -100px;
}

.background {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -20;
    opacity: 45%;
    overflow: hidden;
}

.right {
    justify-content: center;
    position: relative;
    display: flex;
}

.appname {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5%;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-style: normal;
    justify-content: center;
}

.right-logo {
    width: 220px;
    height: 220px;
    margin-bottom: -30px;
    margin-top: 70px;
}

.appname h1{
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
}

.circu {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100%;
    margin-bottom: -10px;
    margin-top: -20px;
}


.form-user, .form-pass {
    position: relative;
    margin-top: -10;
}


.input {
    width: 66%;
    border-radius: 40px;
    padding: 1rem;
    padding-left: 55px;
    margin-bottom: 10%;
    justify-content: center;
    justify-self: center;
    position: relative;
    left: 5%;
    margin:20px;
    font-family: 'poppins',sans-serif;
    height: 40px;
    font-size: 20px;
}

.icon {
    position: absolute;
    top: 26px;
    left: 0; 
    width: 50px;
    height: 55%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 150%;
    box-sizing: border-box;
    left: 12%;
}
.icon2 {
    position: absolute;
    top: 26px;
    left: 0;
    width: 50px;
    height: 55%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 150%;
    left: 12%;
}

.loginbtn {
    margin-top: 20px;
}

.loginbtn a{
    margin-top: 20px;
    left: 40%;
}

.login-btn {
    border-radius: 30px;
    justify-content: center;
    position: relative;
    padding: 0.5rem;
    width: 30%;
    background-color: #31A463;
    border: none;
    border-radius: 40px;
    font-family: 'poppins',sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    font-size: 22px;
    text-decoration: none;

    // button update
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: -25px;
}

.login-btn:hover {
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color: #31A463;
    cursor: pointer;
    text-decoration: none;
}

.version {
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
    justify-content: center;
    left: 40%;
    font-size: 20px;
    margin-left: -20px;
    margin-top: 10px;
}

@media (max-width: 1607px) {
    .left, .right {
        width: 100%;
    }

    .right-logo {
        width: 200px;
        height: 200px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .input {
       
    }
    
    .icon {
       
    }
    .icon2 {
       
    }
    .appname h1{
        font-family: 'poppins', sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .vector {
        width: 850px;
        height: 850px;
        margin-top: -30px;
    }

    .version {
        
    }

    
    
}

@media (max-width: 1286px) {
    .left, .right {
        width: 100%;
    }

    .right-logo {
        width: 200px;
        height: 200px;
        margin-bottom: -50px;
        margin-top: 30px;
    }

    .circle-1 {
        height: 0%;
        width: 0%;
        border: 450px solid #7CC644;
        border-radius: 5000px;
        position: absolute;
        top: -360px;
        left: -110px;
        display: flex;
        justify-content: center;
    }
    .circle-2 {
        height: 0%;
        width: 0%;
        border: 450px solid #31A463;
        border-radius: 5000px;
        position: absolute;
        top: -340px;
        left: -150px;
    }

    .circu {
        font-size: 20px;
    }

    .input {
       
    }
    
    .icon {
       padding-left: 20px;
    }

    .icon2 {
        padding-left: 10px;
    }
    
    .appname h1{
        font-family: 'poppins', sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .vector {
        padding-top: 40px;
        width: 600px;
        height: 600px;
        padding-left: 40px;
    }

    .version {
        
    }

    .login-btn {
        
    }
    
}


@media (max-width: 1920px) {
    .left, .right {
        width: 100%;
    }

    .input {
       
    }

    .appname h1{

    }
    
    .icon {
       
    }
    .icon2 {
       
    }

    .circu {
       
    }
    .login-btn {
        // padding: 0.1rem;
        // left: 108px;
    }

    .version {
        padding-top: 20px;
    }
}

@media (max-width: 1286px) {
    .appname h1{
        margin-top: -10px;
    }

    .circu {
        margin-top: 5px;
    }

    .input {
        width: 50%;
        left: 20px;
    }

    .icon, .icon2 {
        left: 12%;
    }
    
    .login-btn {
        padding: .01rem;
    }
}




