<!-- hi renze!! -->
<main>
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">


  <img class="background" src="assets/img/building.png" alt="background">

<div class="split-screen">

  <div class="left">
    <section class="content">
      <img class="vector" src="assets/img/vector.png" alt="vector" class="vector">
      <div class="circle-1"></div>
      <div class="circle-2"></div> 
    </section>
  </div>

  <div class="right">
    
    <div >
      <section class="appname">
        <img class="right-logo" src="assets/img/logo.png" alt="">
        <h1>Gordon College <br> Library Management System</h1>
        <p class="circu">Circulation</p>
      </section>

      <!-- <form [formGroup]="loginForm" (ngSubmit)="login()" > -->
        <form id="login-form">

        <div class="form-user">
          <label for="user">
            <!-- <input type="user" name="user" id="user" class="input" placeholder="Domain Email" formControlName="user"> -->
            <input class="input" id="username" name="username" type="username" placeholder="Domain Email" autocomplete="off">
            <div class="icon"> 
              <i class='bx bxs-user'></i> 
            </div>
          </label>
        </div>

        <div class="form-pass">
          <label for="password">
            <!-- <input type="password" name="password" id="password" class="input" placeholder="Password" formControlName="password"> -->
            <input class="input" type="password" id="password" name="password" placeholder="Password">
            <div class="icon2"> 
              <i class='bx bxs-lock-alt'></i> 
            </div>
          </label>
        </div>

        <div class="loginbtn">
          <!-- <a class="loginbtn" type="submit">Login</a> -->
          <!-- <a class="login-btn" routerLink="/main">LOGIN</a> -->


          <!-- <input id="login-button" type="submit" class="login-btn" value="LOGIN"> -->


          <button id="login-button" class="login-btn" type="submit" value="LOGIN">LOGIN</button>
          <!-- <input id="login-button" type="submit" class="login-btn" value="LogIn"> -->
          <!-- <button type="submit">login</button> -->
          
          <p class="version">GCLMS v0.1</p>
        </div>
    
      </form>
  </div>

  </div>
</div>
</main>


