body, input {
    font-family: 'Montserrat';
    z-index: 100;
  }
  
  ::ng-deep input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 40px white inset !important;
      -webkit-text-fill-color: #333 !important;
      font-family: 'Montserrat';
      font-size: 1.1rem;
      margin: 2px;
  }

  .social-text {
    font-family: 'Montserrat';
    font-size: 16px;
  }
  
  .container {
    background-image: url('../../../assets/images/building.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-color: #FFF;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    min-width: 100%;
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 0.5s 0.5s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
    text-align: center; 
    letter-spacing: 0.4px;
    // line-height: 45px;
  }
  
  .upper-text {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Montserrat';
  }
  
  .lower-text {
    font-size: 24px; 
    font-weight: 900; 
    font-family: 'Montserrat';
  }
  
  .subsystemname {
    font-size: 20px; 
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat';
  }
  
  .logo {
    width: 170px;
    height: 170px; 
  }
  
  
  .input-field {
    max-width: 380px;
    width: 60%;
    background-color: #FFF;
    border: 1px solid #777;
    margin: 10px 0;
    height: 60px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }

  // .input-field {
  //   display: grid;
  //   grid-template-columns: 15% 85%;
  //   padding: 0 0.4rem;
  //   pos
  // }
  
  .input-field i {
    text-align: center;
    line-height: 60px;
    color: #000;
    font-size: 24px;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    width: 90%;
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: var(--table-border);
    font-weight: 500;
  }
  
  .btn {
    width: 200px;
    background-color: #4F6F52;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #2A4B38;
  }
  
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .container:before {
    content: "";
    position: absolute;
    height: 1100px;
    width:  1000px;
    top: 90px;
    right: 700px;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #376448 0%, #376448 100%);
    transition: 1s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .container:after {
    content: "";
    position: absolute;
    height: 1000px;
    width: 1000px;
    top: 95px;
    right: 620px;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #2A4B38  0%, #2A4B38  100%);
    transition: 1s ease-in-out;
    border-radius: 50%;
    z-index: 0;
    opacity: 1.2;
  }

  
  .image {
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
    max-width: 150%;
    height: auto; 
    display: block;
    margin: -10vh auto; 
    animation: slideInFromLeft 1s ease forwards; 
    transition: 1.8s ease-in-out;
    transform: translateY(-5%);
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  // ------------------------------------ 1920
  @media (min-width: 1920px) {
    .container:before {
      height: 1500px;
      width:  1500px;
      top: 90px;
      right: 720px;
    }
    
    .container:after {
      height: 1500px;
      width: 1500px;
      top: 95px;
      right: 650px;
    }
  
    .signin-signup {
      left: 78%;
    }
    
    .title {
      font-size: 2.2rem;
      color: #000;
      margin-bottom: 10px;
      text-align: center; 
    }
    
    .upper-text {
      font-size: 30px;
      font-family: 'Montserrat';
    }
    
    .lower-text {
      font-size: 30px; 
      font-family: 'Montserrat';
    }
    
    .subsystemname {
      font-size: 26px; 
      font-family: 'Montserrat';
    }
    
    .logo {
      width: 220px;
      height: 220px; 
    }
    
    .input-field {
      max-width: 440px;
      width: 90%;
      height: 70px;
    }
    
    .input-field i {
      line-height: 70px;
      font-size: 22px;
    }
    
    .btn {
      height: 60px;
      font-size: 24px;
    }
  }
  
  // ---------------------------------------- 1120
  @media screen and (max-width: 1120px) {
    .container:before {
      height: 900px;
      width:  900px;
      top: 70px;
      right: 500px;
    }
    
    .container:after {
      height: 900px;
      width: 900px;
      top: 75px;
      right: 460px;
    }
  
    .signin-signup {
      left: 75%;
    }
    
    ::ng-deep input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      -webkit-text-fill-color: #333 !important;
      font-family: 'Montserrat';
      font-size: 1.1rem;
      margin: 2px;
    }
  
    .title {
      font-size: 1.5rem;
    }
    
    .upper-text {
      font-size: 20px;
      font-family: 'Montserrat';
    }
    
    .lower-text {
      font-size: 20px; 
      font-family: 'Montserrat';
    }
    
    .subsystemname {
      font-size: 18px; 
      font-family: 'Montserrat';
    }
    
    .logo {
      width: 150px;
      height: 150px; 
    }
    
    .input-field {
      max-width: 400px;
      width: 80%;
      height: 60px;
    }
  
    .input-field input {
      font-size: 1rem;
    }
    
    .input-field i {
      line-height: 60px;
      font-size: 22px;
    }
    
    .btn {
      height: 50px;
      font-size: 20px;
    }
  }
  
  // ------------------------------------------ 900
  @media (max-width: 900px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
  
    .signin-signup {
      width: 100%;
      top: 87%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .image {
      display: none;
    }
  
    .logo {
      z-index: 3;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
      z-index: 2;
    }
  
    .container:after {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 37%;
      bottom: 67%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  
    .input-field {
      max-width: 440px;
      width: 90%;
    }
  }
  
  // ----------------------------------------------------- 746
  @media screen and (max-width: 746px) {
    .container:after {
      height: 800px;
      width: 800px;
      right: 40%; 
    }
  
    .container:before {
      height: 1500px;
      width: 1500px;
      right: 80%; 
    }
  }
  
  // -------------------------------------------- 560
  @media (max-width: 560px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
  
    .panel .content {
      padding: 0.5rem 1rem;
    }
  
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: -41%;
      left: 50%;
      z-index: 0;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }
  
  /* Styles for the SweetAlert custom classes */
  /* Custom styles for success and error icons */
  .sweetalert-custom-icon-success::before {
    content: '\f058'; /* Font Awesome check-circle icon */
    color: #28a745; /* Green color for success */
  }
  
  .sweetalert-custom-icon-error::before {
    content: '\f06a'; /* Font Awesome times-circle icon */
    color: #dc3545; /* Red color for error */
  }