<body>


    <div class="search">
        <input placeholder="Search..." type="text">
        <button type="submit"><i class="bx bx-search" ></i></button>
    </div>

  <p class="title">Returned</p>
  <table class="content-table">
    <thead class="table-head">
      <tr>
        <th>Patron Type</th>
        <th>Id Number</th>
        <th>Accession Number</th>
        <th>Due Date</th>
        <th>Date Returned</th>
        <th>Action</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Student</td>
        <td>202110063</td>
        <td>6108</td>
        <td>02/24/24</td>
        <td>Pending</td>
        <td>
            <button class="edit">Edit</button>
            <button class="delete">
                <i class="bx bx-trash" ></i>
            </button>
        </td>
    </tbody>
  </table>

  <button class="btn" >Edit</button>
  <button class="btn" routerLink="user">Test</button>
</body>