<body>

<div class="container">

  <p class="title">Returned</p>
      <p class="desc">List of Returned Books</p>

  <!-- Search bar -->
  <div class="search">
    <input placeholder="Search..." name="search" id="search" type="text" (input)="applyFilter($event)">
    <button type="submit" (click)="applyFilter($event)"><i class="bx bx-search"></i></button>

  </div>

  <!-- new table for returned -->

  <div class="table">

    <div class="loading" *ngIf="isLoading">
    <app-loadings></app-loadings>
    </div>

    <table mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading">
  
      <!-- Name Column -->
      <ng-container matColumnDef="Borrower">
        <th mat-header-cell *matHeaderCellDef class="tbl-head"> Borrower</th>
        <td mat-cell *matCellDef="let element"> {{ element.fname }} {{ element.lname }} </td>
      </ng-container>
  
      <!-- Gender Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef class="tbl-head"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="Department">
        <th mat-header-cell *matHeaderCellDef class="tbl-head"> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>
  
      <!-- Department Column -->
      <ng-container matColumnDef="Program">
        <th mat-header-cell *matHeaderCellDef class="tbl-head"> Program </th>
        <td mat-cell *matCellDef="let element"> {{element.program}} </td>
      </ng-container>

      <!-- Program Column -->
      <ng-container matColumnDef="Book Title">
        <th mat-header-cell *matHeaderCellDef class="tbl-head"> Book Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="Date Created">
        <th mat-header-cell *matHeaderCellDef class="tbl-head" > Date Borrowed </th>
        <td mat-cell *matCellDef="let element"> {{element.date_borrowed}} </td>
      </ng-container>

      <ng-container matColumnDef="Date Returned">
        <th mat-header-cell *matHeaderCellDef class="tbl-head" > Date Returned </th>
        <td mat-cell *matCellDef="let element"> {{element.date_returned}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef class="tbl-head"> Status </th>
        <td mat-cell class="returned" *matCellDef="let element"> Returned </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator class="page" [pageSizeOptions]="[10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of users">
    </mat-paginator>
  </div>
  
</div>

</body>