body{
    height: 100%;
    width: 100%;
}

.title {
    color: #C5C5C5;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 20px;
}

i{
    color: white;
}

.search {
    // display: inline-block;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-bottom: 30px;
    margin-top: 50px;
  }

.search input[type="text"] {
    width: 260px;
    padding: 10px;
    border: none;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
    background-color: #31A463;
    border: none;
    border-style: groove;
    color: #fff;
    border-color: #31A463;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
}

.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #31A463;
}
  

.content-table {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    font-size: 14px;  
    background-color: #E1E1E1;
    font-family: 'poppins', sans-serif;
    table-layout: fixed;
}

.table-head {
    background-color: #31A463;
    font-size: 15px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table th{
    color: #fff;
}


.edit {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #31A463;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    color: white;
    position: relative;
    margin-left: 1px;
}

.delete {
    width: 30px;
    margin-left: -15px;
    margin-right: auto;
    background-color: #BE2E2E;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}


th {
    letter-spacing: 1px;
    color: black;
    border-bottom: 2px solid black;
}


th {
    letter-spacing: 1px;
    color: black;
    border-bottom: 2px solid black;
}



/* Modal part renze */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.late {
    color: red;
}

.returned {
    color: #31A463  ;
}