main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 16px solid #FFFFFF;
    border-top: 16px solid #4F6F52;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}