<body>
  
      <div class="header">
        <p class="title">User Details</p>
      </div>
          
      <div class="table1">
        <p><span class="contento">Name:</span> {{user.first_name}} {{user.last_name}}</p>
        <p><span class="contento">Department:</span>  {{user.program.program}}</p>
        <p><span class="contento"><p>Books Allowed:</span></p>
      </div>

      <div class="table2">
        <p><span class="contento">Id Number:</span> {{user.id}}</p>
        <p><span class="contento">Patron Type: </span>{{user.patron.patron}}</p>
      </div>

          <div class="form">
            <div class="scrollable-table-container">
            <table class="content-table">
              <thead class="table-head">
                <tr>
                  <th>Date Returned</th>
                  <th>Title</th>
                  <th>Accession Number</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let book of borrowedBooks">
                  <td>{{ book.borrow_date }}</td>
                  <td>{{ book.book.title }}</td> 
                  <td>{{ book.id }}</td>
                  <td>{{ getstatusString(book.status) }}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          </div>
            
            
              <div class="table3">
                <p>Total Returned Books:</p>
                <p>Total Fine:</p>
              </div>

  

          <div class="buttons">
            <a class="close" matDialogClose>Close</a>
          </div>
  
</body>
