<body>

    <p class="title">Borrow Request</p>
        
  
        <div class="form">
          
          <p class="user">Users</p>
          <div class="users">
              <div class="group1">
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Id Number</label>
                  </div>
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Name</label>
                  </div>
              </div>
  
              <div class="group2">
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Patron Type</label>
                  </div>
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input" >
                    <label class="user-label">Department</label>
                  </div>
              </div>
          </div>
  
          <p class="material">Material</p>
          <div class="materials">
                <div class="group1">
                    <div class="input-group">
                      <input required="" type="text" name="text" autocomplete="off" class="input" >
                      <label class="user-label">Accession Number</label>
                    </div>
                    <div class="input-group">
                      <input required="" type="text" name="text" autocomplete="off" class="input" >
                      <label class="user-label">Title</label>
                    </div>
                </div>
  
                <div class="group2">
                    <div class="input-group">
                      <input required="" type="text" name="text" autocomplete="off" class="input" >
                      <label class="user-label">Location</label>
                    </div>
                    <div class="input-group">
                      <input required="" type="text" name="text" autocomplete="off" class="input" >
                      <label class="user-label">Author</label>
                    </div>
                </div>
            </div>
        </div>
  
        <p class="staff">Staff</p>
          <div class="staffs">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="user-label">Name of Staff</label>
                </div>
                <div class="input-group">
                  <input required="" type="text" name="text" autocomplete="off" class="input" >
                  <label class="user-label">Position</label>
                </div>
            </div>
          </div>
  
          <p class="due">Due</p>
          <div class="date">
            <div class="group1">
                <div class="input-group">
                  <input required="" type="date" name="text" autocomplete="off" class="input" >
                  <label class="userlabel">Date of Request</label>
                </div>
                <div class="input-group">
                  <input required="" type="date" name="text" autocomplete="off" class="input" >
                  <label class="userlabel">Due</label>
                </div>
            </div>
          </div>
  
            <div class="reason">
              <div class="group1">
                  <div class="input-group">
                    <!-- <input required="" type="time" name="text" autocomplete="off" class="input" > -->
                    <textarea class="input-reason" name="text" id="" cols="30" rows="10" placeholder=""></textarea>
                    <label class="userlabel">Reason</label>
                  </div>
              </div>
            </div>
  
            <div class="time">
              <div class="group1">
                  <div class="input-group">
                    <input required="" type="time" name="text" autocomplete="off" class="input2" >
                    <label class="userlabel">Time</label>
                  </div>
  
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input2" >
                    <label class="userlabel">Number of Materials</label>
                  </div>
              </div>
            </div>
  
            <div class="gender">
              <div class="group1">
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input2" placeholder="fillable">
                    <label class="userlabel">Gender</label>
                  </div>
              </div>
            </div>
  
            <div class="fine">
              <div class="group1">
                  <div class="input-group">
                    <input required="" type="number" name="text" autocomplete="off" class="input2" placeholder="fillable">
                    <label class="userlabel">User Fine</label>
                  </div>
              </div>
            </div>
  
            <div class="buttons">
              <button class="add" routerLink="">Add</button>
              <button class="reserve" routerLink="reserve" >Reserve</button>
              <button class="list" routerLink="/sample">List</button>
            </div>
  </body>
