<div class="body">

      <div class="container">
        
        <p class="title">Borrow Form</p>

        <div class="form">

          <p class="book">Book</p>

          <form class="test" [formGroup]="borrowForm" id="request-form" (ngSubmit)="bookSubmit()">
          <!-- books -->
          
              <div class="books">
                
                  <div class="group1">
                    <!-- for Accession Number -->
                      <div class="input-group">
                        <input required="" type="text" name="text" autocomplete="off" class="input" required name="book_id" (change)="getBook($event)" formControlName="book_id"> 
                        <label class="book-label">Accession</label>
                      </div>

                    <!-- The rest dito autofill na kaya naka -->

                    <!-- Title -->
                      <div class="input-group">
                        <input type="text" name="text" autocomplete="off" class="input" [value]="book.title || ''" disabled>
                        <label class="book-label">Title</label>
                      </div>
                    
                  </div>
                  
                  <div class="group2">

                    <!-- Location (fil or foreign) -->
                      <div class="input-group">
                        <input type="text" name="text" autocomplete="off" class="input2" [value]="book.location || ''"   disabled>
                        <label class="book-label">Location</label>
                      </div>

                    <!-- Author of the book -->
                      <div class="input-group">
                        <input type="text" name="text" autocomplete="off" class="input5" [value]="book.author || ''"   disabled>
                        <label class="book-label">Author</label>
                      </div>
                  </div>
              </div>
      
              <p class="material">User</p>
              <div class="materials">
                    <div class="group1">

                      <!-- user ID number -->
                        <div class="input-group">
                          <input required="" type="text" name="text" autocomplete="off" class="input" required formControlName="user_id" (change)="getUser($event)">
                          <label class="book-label">Id Number</label>
                        </div>

                      <!-- Name -->
                        <div class="input-group">
                          <input type="text" name="text" autocomplete="off" class="input" [value]="user.name || ''"  disabled>
                          <label class="book-label">Name</label>
                        </div>

                      <!-- Gender -->
                        <div class="input-group">
                          <input type="text" name="text" autocomplete="off" class="input2" [value]="user.gender || ''"  disabled>
                          <label class="book-label">Gender</label>
                        </div>
                      </div>

                    <div class="group2">
                      
                      <!-- patron type (student/faculty/staff/.etc) -->
                      <div class="input-group">
                        <input required="" type="text" name="text" autocomplete="off" class="input3" [value]=" " >
                        <label class="book-label">Patron</label>
                      </div>

                      <!-- Department id -->
                          <div class="input-group">
                            <input type="text" name="text" autocomplete="off" class="input3" [value]="user.program || ''" disabled>
                            <label class="book-label">Department</label>
                          </div>
                    </div>
                </div>
            

                <p class="staff">Staff</p>
                  <div class="staffs">
                    <div class="group1">

                      <!-- frontdesk admin id -->
                        <div class="input-group">
                          <input type="text" name="text" autocomplete="off" class="input3" disabled placeholder="{{name}}">
                          <label class="book-label">Name of Staff</label>
                        </div>

                      <!-- frontdesk position -->
                        <div class="input-group">
                          <input type="text" name="text" autocomplete="off" class="input3" disabled placeholder="{{role}}">
                          <label class="book-label">Position</label>
                        </div>
                    </div>
                  </div>

            <p class="due">Due</p>
            <div class="date">
              <div class="group1">  
                <script>
                  var today = new Date().toISOString().split('T')[0];
                  var today = new Date().toISOString().slice(0, 16);

                      // for date
                      document.getElementsByName("date")[0].setAttribute('min', today);
                      // for datetimelocal
                    document.getElementsByName("datetime")[0].setAttribute('min', today);
          
                </script>

                  <div class="input-group">
                    <input required="" type="date" name="date" autocomplete="off" class="input" min="2024-01-01" required formControlName="borrow_date">
                    <label class="booklabel">Date of Request</label>
                  </div>

                  <div class="input-group">
                    <input required="" id="dueforborrow" type="datetime-local" name="datetime" autocomplete="off" class="input" min="2024-01-01" required formControlName="borrow_expiration">
                    <label class="booklabel">Due for Borrow</label>
                  </div>
                  <div class="input-group">
                    <input required="" type="text" name="text" autocomplete="off" class="input2"  required formControlName="fine" >
                    <label class="book-label">User Fine</label>
                  </div>
              </div>
            </div>

            <div class="buttons">
            <button class="add" type="submit">Add</button>
            </div>

          </form>

        </div>
      </div>
</div>