@import url('https://fonts.googleapis.com/css2?family=montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body {
    padding-top: 10px;
    background: #F5EFE6;
    padding-bottom: 60px;
}   

.title {
    color: #444444;
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 11%;
    // margin-bottom: 20px;
}

// input[type=date]:invalid::-webkit-datetime-edit {
//     color: #999;
// }

.container {
    border-radius: 5px;
    // padding: 20px;
    // padding-top: 25px;
    // padding-bottom: 50px;
    margin-top: 40px;
    background: white;
    margin-left: 180px;
    width: 78%;
    height: 815px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.322);
    border: 0.5px solid rgb(206, 206, 206);
}


.books {
    padding-left: 21px;
    // position: absolute;
    margin-top: 15px;
    
}

.materials {
    padding-left: 21px;
    // position: absolute;
    margin-top: 26px;
    
}

.staffs {
    padding-left: 21px;
    // position: absolute;
    margin-top: 31px;
   
}

.date {
    // position: absolute;
    padding-left: 21px;
    margin-top: 31px;
}

.group1, .group3{
    display: flex;
}

.group2 {
    display: flex;
    justify-content: space-between;
}

.max {
    position: relative;
    margin-left: -100px;
}

.book {
    margin-top: 40px;
    // padding-top: 45px;
    padding-left: 30px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #444444;
    font-size: 30px;
}

.material {
    margin-top: 4px;
    // padding-top: 10%;
    padding-left: 30px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #444444;
    font-size: 30px;
    position: absolute;
}

.staff {
    margin-top: 9px;
    // padding-top: 20%;
    padding-left: 30px;
    margin-bottom: -15px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #444444;
    font-size: 30px;
    position: absolute;
}

.due {
    margin-top: 8px;
    // padding-top: 26%;
    padding-left: 90px;
    margin-bottom: -15px;
    padding-left: 30px;
    font-family: 'montserrat', sans-serif; 
    font-weight: 700;
    color: #444444;
    font-size: 30px;
    position: absolute;
}

.reason {
    margin-top: 14px;
    padding-left: 45%;
    border-radius: 30px;
}

.time {
    margin-top: 210px;
    padding-left: 50%;
    border-radius: 30px;
    padding-left: 57%;
}

.gender {
    margin-top: -3px;
    padding-left: 50%;
    border-radius: 30px;
    padding-left: 57%;
}

.fine {
    margin-top: 48px;
    padding-left: 50%;
    border-radius: 20px;
    padding-left: 57%;
}

.buttons {
    margin-top: 17px;
    padding-left: 42%;
    
}

.add {
    background-color: #4F6F52;
    // margin-right: -30px;
    // justify-content: center;
    position: relative;
    border: none;
    border-radius: 10px;
    font-family: 'montserrat',sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 22px;
    // top: -20px;
    text-decoration: none;

    margin-left: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }

.parent-container {
    text-align: center;
    margin-left: -24px;
  }
  
  .policy {
    display: inline-block; 
  }
  
  .policy span {
    cursor: pointer;
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
  }

  .info span {
    cursor: pointer;
    
  }

.add:hover{
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color:  #008000;
    cursor: pointer;
    text-decoration: none;
}

.reserve:hover{
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color:#FFA500;
    cursor: pointer;
    text-decoration: none;
}

.list:hover {
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color: #31A463;
    cursor: pointer;
    text-decoration: none;
}

.input-group {
    position: relative;
     padding-top: -45px;
}
   
.input {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 2px black;
    opacity: 100%;
    border-radius: 5px;
    background: #F6F6F6;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 450px;
    height: 25px;
}

.input2 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 2px black;
    opacity: 100%;
    border-radius: 5px;
    background: #F6F6F6;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 165px;
    height: 25px;
}

.input3 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 2px black;
    opacity: 50%;
    border-radius: 5px;
    background: #F6F6F6;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 681px;
    height: 25px;
}

.input31 {
    display: flex;
    border: none;
    border-bottom: solid 2px black;
    opacity: 50%;
    border-radius: 5px;
    background: #F6F6F6;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
}

select.input31{
    width: 681px;
    height: 60px;
}


select.input31:focus {
    outline: none;
    border-bottom: 2px solid #31A463;
}

// select.input31:focus ~ label, select.input31:valid ~ label {
//     padding: 0 .2em;
//     color: #31A463;
//     font-size: 15px;
//     font-weight: 500;
//     left: 22px;
// }

.patron-label {
    position: absolute;
    top: 0;
    left: 20px;
    color: black;
    pointer-events: none;
    font-family: 'montserrat', sans-serif;
    font-size: 15px; /* Match the font size of the department label */
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

select {
    appearance: none; /* Remove default arrow */
  }

/* Style for the label when select is focused */
select:focus + .patron-label {
    transform: translateX(.2em  );
    font-size: 16px; /* Adjust font size as needed */
    font-weight: 500;
    color: #31A463;
  }

.input4 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 2px black;
    opacity: 50%;
    border-radius: 5px;
    background: #F6F6F6;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: auto;
    height: 25px;
}

.input5 {
    // border: solid 1.5px black;
    border: none;
    border-bottom: solid 2px black;
    opacity: 50%;
    border-radius: 5px;
    background: #F6F6F6;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 10px;
    width: 1151px;
    height: 25px;
}




.book-label {
    position: absolute;
    top: -8px;
    left: 20px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'montserrat', sans-serif;
}

// .book-label3 {
//     position: absolute;
//     top: 10px;
//     left: 20px;
//     color: black;
//     pointer-events: none;
//     // transform: translateY(1rem);
//     // transition: 150ms cubic-bezier(0.4,0,0.2,1);
//     font-family: 'montserrat', sans-serif;
//     font-size: 10px;
// }

.input:focus, .input:valid, .input2:focus, .input2:valid
, .input3:focus, .input3:valid, .input4:focus, .input4:valid{
    outline: none;
    border-bottom: 2px solid #31A463;
}

.input:focus ~ label, .input:valid ~ label, .input2:focus ~ label, .input2:valid ~ label,
.input3:focus ~ label, .input3:valid ~ label, .input4:focus ~ label, .input4:valid ~ label {
    // transform: translateY(-50%) scale(0.8);
    // background-color: white;
    // border: solid 1.5px #31A463;
    // border-radius: 5px;
    padding: 0 .2em;
    color: #31A463;
    font-size: 15px;
    font-weight: 500;
    left: 22px;
}

.booklabel {
    position: absolute;
    top: -8px;
    left: 20px;
    color: black;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'montserrat', sans-serif;
}



::placeholder {
    color: black;
}



.my-swal-confirm-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .my-swal-confirm-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }


  .input-group {
    position: relative;
    margin-bottom: 1rem; /* Adjust as needed */
  }


  
  
  